/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	position: relative;
}

/* NAVBAR */

.nav-logo, .right-nav, .nav{
	display: inline-block;
	font-weight: bold;
}

nav {
	padding: 1.5rem 10% 1.5rem;
	position: sticky;
	top: 0px;
	background-color: white;
	border: 2px solid rgba(0, 0, 0, 0.20);
}


.right-nav {
	float: right;
}

.nav {
	margin: 0 0.5rem 0;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	padding: 0.7rem 1.5rem 0.7rem;
	border-radius: 25px;
	font-weight: bold;
	border: 1px solid black;
}

/* LANDING PAGE */

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 45vh;
	background-size: cover;
	background-position: center;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	height: 45vh;
	padding: 0 10% 0;
}

.title, .title-2 {
	font-family: "Zilla Slab";
}

.title {
	font-size: 3rem;
	text-align: right;
	margin-bottom: 1rem;
}

.container {
	color: white;
	width: 50%;
	float: right;
}

.subtitle {
	padding-left: 30%;
	margin-bottom: 1.5rem;
	text-align: right;
	font-weight: 400;
}

.apply-button {
	display: block;
	float: right;
	background-color: #c2195b;
	padding: 0.7rem 2.5rem 0.7rem;
	color: white;
	font-weight: bold;
	border-radius: 25px;
}


/* INTRO SECTION */

.intro {
	padding: 5rem 15% 5rem;
}

.intro h2 {
	margin-bottom: 5rem;
	font-weight: bold;
	text-align: center;
}

.intro-description {
	text-align: justify;
}

/*PRE-FOOTER*/
.pre-footer {
	background-color: #f7fbfb;
	padding: 5rem 15% 5rem;
	text-align: center;
}

.title-2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 3rem;
}

.prefooter-description {
	margin-bottom: 1rem;
}

.book-button {
	padding: 0.7rem 2rem 0.7rem;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}

.book-button {
	background-color: #336589;
}


/* FOOTER */

footer {
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

footer span {
	margin: 0 1rem 1rem;
}