Solution A:
https://www.w3schools.com/tags/att_input_maxlength.asp

-The maxlength attribute specifies the maximum number of characters allowed in the <input> element.


<input type="text" name="username" id="username" maxlength="15">



Solution B:
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_images_alt#:~:text=Alternative%20text-,The%20alt%20attribute%20is%20meant%20to%20be%20used%20as%20an,is%20%22W3Schools.com%22.
- The alt attribute is meant to be used as an alternative text if the image is not available.

<img src="w3schools.jpg" alt="W3Schools.com" >




Solution C:
https://www.w3schools.com/tags/tag_code.asp

-The code tag is used to define a piece of computer code. The content inside is displayed in the browser's default monospace font.

<code>
	class Simple{  
	    public static void main(String args[]){  
	     System.out.println("Hello Java");  
	    }  
	}  
</code>




Solution D:
https://getbootstrap.com/docs/5.0/components/carousel/#individual-carousel-item-interval


-using bootstrap 5.0

-Add data-bs-interval="" to a .carousel-item to change the amount of time to delay between automatically cycling to the next item.

-the example below will self auto-scroll every 2 seconds

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>